.wrap {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 1.5rem;
}
@include responsive(medium-screens) {
	.wrap {
		padding: 0;
	}
}

main > * {
	max-width: 700px;
	padding: 0 1.5rem;
	margin: 1.5em auto;
}

/*--------------------------------------------------------------
11.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
11.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
11.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
11.4 404
--------------------------------------------------------------*/
@import "primary/404";