.home,
.blog,
.single {
	article {
		background-color: white;
		padding: 1.5rem;
		border: 1px solid #eee;
		border: 1px solid rgba(0, 0, 0, .08)
	}
}

@include responsive(small-screens) {
	.blog,
	.single {
		article {
			border-radius: 4px;
		}
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content:not(.frame),
.entry-summary {
	margin: 1.5em 0 0;
}

article {
		margin-bottom: 2rem;
}

.post-thumbnail img {
	width: 100%;
}

.entry-title {
	margin-top: 0;
	a, a:visited {
		color: $color__text-headline;
	}
}

.entry-content p {
	margin: 0;
}

.episode-cover {
	width: 100%;
	margin-bottom: 1rem;
}

.page-template-page-podcasts .page .column {
	margin-bottom: .75em;
}

footer.entry-footer {
	padding: 2em 0 0;
}

footer.entry-footer > span {
	display: block;
}

@include responsive(small-screens) {
	.episode-cover {
		margin-bottom: 0;
		width: 200px;
		height: 200px;
	}
}
@include responsive(medium-screens) {
	.type-krafit_episodes footer.entry-footer {
		padding-bottom: 2em;
	}
	.episode-link {
		text-align: left;
	}

	.episode-date {
		text-align: center;
	}

	.episode-author {
		text-align: right;
	}
}