.wp-pagenavi {
	text-align: center;
	background-color: white;
	padding: 1.5rem;
	border-radius: 4px;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.08);
	.pages {
		display: block;
	}
	.previouspostslink, .page, .current, .extend, .nextpostslink {
		border: 1px solid #eee;
		border: 1px solid rgba(0, 0, 0, .08);
		border-radius: 40px;
		margin-right: .5em;
		width: 40px;
		height: 40px;
		line-height: 39px;
		display: inline-block;
	}
	.extend {
		display: none;
	}
}

