.site-footer {
	text-align: center;
	padding: .75rem 0;
	vertical-align: middle;
	.site-info {
		font-size: 14px;
	}
	& > .wrap > * {
		line-height: 3rem;
	}
	& a {
		color: $color__text-main;
	}
}


@include responsive(small-screens) {
	.site-footer {
		.site-info {
			text-align: left;
			float: left;
			width: 40%;
			display: inline-block;
		}
		.footer-navigation {
			float: right;
			text-align: right;
			width: 58%;
		}
	}	
}