.site-header {
	text-align: center;
	@include font-size(1.78);
	padding: .95rem 0 .75rem;
	& > .wrap > * {
		line-height: 2rem;
		vertical-align: middle;
	}
	a {
		color: $color__text-header;
	}
	a:hover {
		color: $color__text-header-hover;
	}
}
.site-title {
	margin: 0;
	text-align: center;
}


.site-description {
	color: rgba(68, 68, 68, 0.701961);
	@include font-size(1.04);
}

