.site-header {
	text-align: center;
	@include font-size(1.78);
	& > .wrap > * {
		line-height: 2rem;
		vertical-align: middle;
	}
	a {
		color: $color__secondary;
	}
	a:hover {
		color: $color__secondary;
	}
}
.header-image {
	width: 100%;
}
.site-branding {
	padding: .95rem 0 .75rem;
}
.site-title {
	margin: 0;
	text-align: center;
	font-weight: 600;
	@include font-size(3);
	a {
		color: $color__text-header;
	}
	a:hover {
		color: $color__text-header;
	}
}


.site-description {
	color: rgba(68, 68, 68, 0.701961);
	@include font-size(1.04);
	margin-top: 0;
}

